body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

#logo {
    width: 80px;
}

header {
    width: 90%;
    margin: auto;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-weight: bolder;
    padding-top: 32px;
    text-align: center;
    color: #4F46E5;
    margin-bottom: 10px;
}
main {
    min-height: calc(100vh - 88.25px);
    width: 90%;
    max-width: 800px;
    margin: auto;
    background-color: rgba(215, 220, 227, 0.48);
    border-radius: 20px;
}
h1{
    text-align:center;
}

a{
    display: inline !important;
    font-size: 20px;
}

.controllElem {
    width: max-content;
    margin: 20px;
}
#group {
    width: max-content;
}
#continner {
    display: flex;
    justify-content:center;
}

img{
    width: 24px;
}