body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

#logo {
    width: 80px;
}

#settings{
    height: 30px;
}

header {
    width: 90%;
    margin: auto;
    height: 30px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Reseting styles of the navbar for displaying it more correctly*/
nav * {
    all: unset;
}

nav {
    max-width: 800px;
    position: sticky;
    background-color: rgb(215, 220, 227);
    width: 90%;
    height: 70px;
    bottom: 10px;
    border: black solid 1px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    backdrop-filter: blur(5px);
}

    nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    nav ul li{
        display:flex;
    }
    nav img{
        display:block;
    justify-self: center;
    }

footer {
    border-radius: 20px 20px 0px 0px;
    width: 90%;
    margin: auto;
    background-color: rgb(215, 220, 227);
    height: 120px;
    text-align: center;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    footer span {
        color: #4F46E5;
        font-weight:bold;
    }


h1 {
    font-size: 35px;
    padding: 10px;
    display: block;
    text-align: center;
}

a {
    display: block;
    text-align: center;
    cursor: pointer;
}

main {
    min-height: calc(100vh - 88.25px);
    width: 90%;
    max-width: 800px;
    margin: auto;
    background-color: rgb(215, 220, 227);
    border-radius: 20px;
}
#inner{
    width: 90%;
    margin: auto;
}

/* Highlighting the current page's link */
.active {
    font-weight: bold;
    color: #007bff; /* Example: Bootstrap primary color */
    text-decoration: underline;
    filter: hue-rotate(90deg);
}