#avatar {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

    #avatar img {
        width: 90px;
        margin-bottom: 20px;
    }


    #avatar h1, #nickname {
        text-align: center;
        margin-bottom: 10px;
    }

#nickname {
    font-weight: bold;
}

#avatar p, h1 {
    width: 83%;
}

#stats {
    height: 70px;
    display: flex;
    gap: 20px;
}

#day_streak img {
    width: 30px;
}

#day_streak {
    box-shadow: 2px 2px 21px -1px rgba(79,70,229,0.75);
    -webkit-box-shadow: 2px 2px 21px -1px rgba(79,70,229,0.75);
    -moz-box-shadow: 2px 2px 21px -1px rgba(79,70,229,0.75);
    flex: 1;
    background-color: white;
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
}

#percents {
    box-shadow: 2px 2px 21px -1px rgba(79,70,229,0.75);
    -webkit-box-shadow: 2px 2px 21px -1px rgba(79,70,229,0.75);
    -moz-box-shadow: 2px 2px 21px -1px rgba(79,70,229,0.75);
    flex: 1;
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    text-align:center;
}

.badges_title {
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border: 1px solid rgb(79,70,229);
    background-color: white;
}

#no_badges {
    text-align: center;
    margin-top: 20px;
}

.badge img {
    width: 50px;
    height: 50px;
}

.badges {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.badge {
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    width: 110px;
    padding-bottom: 5px;
    background-color: white;
    box-shadow: 2px 2px 21px -1px rgba(79,70,229,0.75);
    -webkit-box-shadow: 2px 2px 21px -1px rgba(79,70,229,0.75);
    -moz-box-shadow: 2px 2px 21px -1px rgba(79,70,229,0.75);
    font-size: 14px;
}

    .badge span {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 8px;
    }
    #inner{
        padding-top:10px;
        padding-bottom: 10px;
    }
#image {
    width: 90px;
    display: block;
    text-align: center;
    border-radius: 50%;
}