
main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    background-color: rgba(215, 220, 227, 0.48);
    min-height: calc(100vh - 88.25px);
    padding-bottom: 20px;
    border-radius: 20px;
}

    main h1 {
        font-size: 32px;
        font-weight: bolder;
        padding-top: 32px;
        text-align: center;
        color: #4F46E5;
    }

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

input {
    border: 1px solid #CBD5E1;
    border-radius: 123px;
    height: 28px;
    border-color: #4F46E5;
}

@keyframes glowing {
    from {
        box-shadow: 0px 0px 0px 0px #4F46E5;
    }

    to {
        box-shadow: 0px 2.5px 15px 0px #4F46E5;
    }
}

input:focus {
    outline: none;
    animation-name: glowing;
    animation-duration: 2s;
    animation-fill-mode: forwards
}

label {
    margin-bottom: 8px;
    margin-top: 4px;
}

button {
    width: 100%;
    margin: auto;
    height: 36px;
    padding: 16px 24px 16px 24px;
    border-radius: 1234px;
    background-color: #FFFFFF;
    border: 1px solid #4F46E5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

a {
    padding-top: 20px;
    display: block;
    text-align: center;
    color: #4F46E5;
}

@keyframes color_changing {
    from {
        background-color: white;
        color: #4F46E5;
    }

    to {
        background-color: #4F46E5;
        color: white;
    }
}

button:hover {
    animation-name: color_changing;
    animation-duration: 1s;
    animation-fill-mode: forwards
}


span[class$="error"]{
    margin-bottom: 18px;
    color: red;
    margin-top: 6px;
}

.validation-summary-errors li {
    color: red;
    margin-top: 8px;
    margin-bottom: 8px;
}
#hints{
    color: red;
    margin-top: 15px;
}