
main {
    overflow: auto;
    width: 90%;
    max-width: 800px;
    margin: auto;
    min-height: 100vh;
    border-radius: 20px;
}

#avatar {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    position: relative;
}

#photo {
    width: 80px;
}

#edit_button {
    width: 40px;
    position: absolute;
    bottom: -7px;
    left: 60px;
}

#inputs {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #CBD5E1;
    border-radius: 123px;
    height: 28px;
}

.setting {
    margin-top: 20px;
    padding-top: 16px;
    text-align: center;
    padding-bottom: 16px;
    border: 1px solid #CBD5E1;
    margin-bottom: 20px;
    border-radius: 1234px;
    width: 95%;
    display: block;
}

#delete_acc {
    background-color: #BE123C;
    color: white;
}

#back{
    font-size: 35px;
    font-weight: bold;
}